beautifulsoup4==4.8.0
certifi==2019.6.16
chardet==3.0.4
defusedxml==0.6.0
DistributedLock==1.2
Django==2.2.13
django-allauth==0.39.1
django-annoying==0.10.4
django-picklefield==2.0
django-social-api==0.1.1
django-vkontakte-api==0.8.7
django-vkontakte-places==0.7.1
django-vkontakte-users==0.8.7
idna==2.8
oauthlib==3.0.2
python-dateutil==1.5
python-memcached==1.59
python3-openid==3.1.0
pytz==2019.1
requests==2.22.0
requests-oauthlib==1.2.0
simplejson==3.16.0
six==1.12.0
soupsieve==1.9.2
sqlparse==0.3.0
urllib3==1.25.3
vkontakte==1.3.5
